body{
    background-image: url('coffee.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
   
    
}
.dept{
    list-style-type: none;
    font-size:20px;
    border:2px solid green;
    width:50%;
    padding:0;
}
.dept li{
    border-bottom:1px solid green;
}
.list1{
    font-size:20px;
    background:teal;
    width:30%;
    padding:30px;
}

.list1 li{
    background:darkorange;
    margin:10px;
h1{
    font-size:30px;
}