p{
    border:2px solid black;
    width:200px;
    height:300px;
    overflow:hidden;
    background-color:pink;
}
#para{
    border:2px solid black;
    width:200px;
    height:300px;
    overflow:visible;
    background-color:pink;
}
#para1{
    border:2px solid black;
    width:200px;
    height:100px;
    overflow:scroll;
    background-color:pink;
}
#para2{
    border:2px solid black;
    width:200px;
    height:100px;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color:pink;
}
#para3{
    border:2px solid black;
    width:500px;
    height:100px;
    overflow-x:scroll;
    overflow-y:hidden;
    background-color:pink;
}