
img{
    position:absolute;
    z-index:-1;
    top:0px;
    left:0px;
    opacity:0.3;
}
.box0{
    border:2px solid rebeccapurple;
    position:fixed;
    right:0;
}


.box{
    border:2px solid red;
    position:static;
}
.box1{
    border:2px solid blue;
    position:absolute;
    height:200px;
    width:650px;
    
}

.box2{
    border:2px solid green;
    height:50px;
    width:250px;
    position:relative;
    top:50px;
}