#h0{
    color:red;
    text-align:right;
    border:2px solid black;
    
}
#h1{
    text-decoration:underline;
    border:2px solid black;
    margin-top:10px;
    text-align:center;
}
#h2{
    text-transform:uppercase;
    border:2px solid black;
    margin-top:10px;
    text-decoration:line-through;
    vertical-align: top;
}
#h3{
    word-spacing:5px;
    border:2px solid palevioletred;
    margin-top:10px;
    text-decoration: overline;
  
}
#h4{
    letter-spacing:0.8em;
    border:2px solid black;
    margin-top:10px;
    line-height:35px;
    
}
#h5{
    text-indent:40px;
    border:2px solid black;
    margin-top:10px;
}

#h6{
    text-shadow:2px 2px;
    direction:rtl;
    unicode-bidi:bidi-override;
}
#h7{
    text-shadow:2px 3px green;
}
#h8{
    text-shadow:2px 3px 5px blue;
}